// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
    color: #000;
    text-decoration: none !important;
}
textarea {
    resize: none;
}
ul {
    margin-left: 0; 
    padding-left: 0;
}
li {
    list-style-type: none;
}
body {
    background: rgb(46,58,106);
    background: linear-gradient(90deg, rgba(46,58,106,1) 0%, rgba(47,11,69,1) 100%);
    
}
body header.masthead {
    margin-bottom: 3rem !important;
}
.asside {
    background: #fff;
    border-radius: 20%;
}
body .jumbotron:nth-child(1) {
    border-radius: 15rem;
    margin-top: 10%;
    text-align: center;
    margin-bottom: 0;
}
footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.grid-container div:nth-child(2n) .jumbotron {
    -webkit-box-shadow: -10px 4px 8px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: -10px 4px 8px 0px rgba(0, 0, 0, 1);
    box-shadow: -10px 4px 8px 0px rgba(0, 0, 0, 1);
}
.grid-container div:nth-child(2n-1) .jumbotron {
    -webkit-box-shadow: 10px 4px 8px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 4px 8px 0px rgba(0, 0, 0, 1);
    box-shadow: 10px 4px 8px 0px rgba(0, 0, 0, 1);
    
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0% 0%;
    grid-template-areas:
      "welcome ."
      ". diary"
      "forum .";
  }
  
.welcome { grid-area: welcome; }
  
.diary { grid-area: diary; }
  
.forum { grid-area: forum; }

  /* forum */
.topics-title {
    position: relative;
}
.topic .media p {
    margin-bottom: 0;
}
.topic .media-body {
    max-width: 90%;
}
.topic .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.topic .grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 0% 0%;
    grid-template-areas: "user comment";
    min-height: 12.5rem;
}
.topic_block .topic_block-item {
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    transition-duration: 0.2s;
}
.topic_block .topic_block-items {
    margin-bottom: 1rem;
}
.topic_block li:hover {
    border-bottom: 1px solid #000;
}
.topic .grid-container div {
    padding: 1rem;
    border: 1px solid #dee2e6;

}
.topic .grid-container + .grid-container {
    margin-top: 1rem;
}
.topic .grid-container .user .btn {
    width: 100%;
}
.topic textarea {
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}
.topic .grid-container .comment .comment-re-blcok {
    margin-bottom: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(239, 239, 255);
    padding: .3rem;
}
.topic .grid-container .comment .comment-re-blcok .comment-re-blcok_text {
    padding: .5rem;
}
.topic .grid-container .comment .comment-re-blcok .comment-re-blcok_name {
    background-color: #ddd;
    padding: .1rem;
    font-size: .8rem;
    font-weight: bold;

}
.topic .topic-title {
    position: relative;
}
.topic .back {
    position: absolute;
    right: 0;
    top: -.5rem;
}
.topic .answer_to {
    cursor: pointer;
}

.user { grid-area: user; position: relative;}
.user .to-answer {

}
.comment { grid-area: comment; }

.d4 {
    background: #2e3a6a;
    background: linear-gradient(90deg, #2e3a6a 0%, #2f0b45 100%);
}
.d4 form {
  background: #F9F0DA;
  border-bottom: 4px solid #2e3a6a;
}
.d4 input, .d4 button {
  border: none;
  outline: none;
  background: #fff;
}
.d4 input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.d4 button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d4 button:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 20px;
  color: #2e3a6a;
}
.btnDelete {
    margin: auto;
}
.topic .btnDelete {
    margin-top: 1rem;
}
  
  /* end forum */

  /* diary */

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
    position: relative;
}
.thumb .block_delete_img i {
    font-size: 2rem;
    padding: .5rem .6rem;
    cursor: pointer;
    
}
.thumb .block_delete_img {
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    // width: 3rem;
    // height: 3rem;
    
    // border-radius: 50%;
}

.diary .addImg {
    text-align: center;
}
.diary .addImg i {
    font-size: 10rem;
    color: grey;
    transition-duration: 0.3s;
    padding: auto;
}
.diary .addImg i:hover {
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

  /* end diary */

  /* media */

  @media screen and (max-device-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0% 0%;
        grid-template-areas:
          "welcome"
          "diary"
          "forum";
        }
      
      .welcome { grid-area: welcome; }
      
      .diary { grid-area: diary; }
      
      .forum { grid-area: forum; }
      
   }
  